body {
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: cornsilk;
}

.header {
    height: 55px;
    background-color: rgb(94, 92, 221);
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.header-logo img {
    width: 170px;
    position: absolute;
    left: 340px;
    top: 5px;
}

li {
    list-style: none;
    float: right;
    position: relative;
    right: 350px;
    top: 15px;
    cursor: pointer;
}

li a {
    text-decoration: none;
    padding: 10px;
    font-size: 15px;
    color: white;
}

li a:hover {
    background-color: rgb(202, 202, 66);
    color: rgb(163, 22, 163);
}

ul {
    margin: 0px;
}

input {
    position: absolute;
    height: 30px;
    width: 500px;
    top: 10px;
    left: 520px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.input:focus {
    outline: none;
}

.main {
    height: 900px;
    width: 900px;
    margin: 75px auto 0 auto;
    background-color: white;
    border-radius: 5px;
}

.main-content {
    height: 320px;
    border-bottom: 1px solid grey;
}

#main-content-name a{
    position: absolute;
    right: 370px;
    top: 260px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(49, 34, 7);
}

#main-content-name a:hover {
    color: rgb(122, 216, 122);
}

#main-content-date {
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    right: 550px;
    top: 350px;
    color: rgb(41, 18, 7);
    padding: 5px;
    border-radius: 5px;
}

#main-content-label {
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    right: 420px;
    top: 350px;
    color: rgb(106, 214, 214);
    padding: 5px;
    border-radius: 5px;
}

.main-content img {
    width: 450px;
    height: 350px;
    position: absolute;
    right: 750px;
    top: 250px;
    padding: 5px;
}

#main-content-readmore {
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    right: 420px;
    top: 400px;
    color: rgb(74, 43, 158);
    padding: 5px;
    border-radius: 5px;
}

.topic {
    height: 55px;
    position: absolute;
    top: 800px;
    width: 100%;
    padding: 0px;
    z-index: 1;
}

#topic-box-name1 {
    font-size: 30px;
    font-weight: bold;
    color: rgb(151, 9, 9);
    background-color: rgb(197, 245, 126);
    position: absolute;
    top: -50px;
}

#info1-name {
    font: large;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    left: 200px;
    top: 50px;
}

#info1-label-1 {
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    color: white;
    background-color: rgb(190, 66, 66);
    left: 200px;
    top: 80px;
}

.info1 img{
    width: 100px;
    height: 100px;
    position: absolute;
   left: 30px;
    top: 10px;
    padding: 5px;
}

.info2 img{
    width: 100px;
    height: 100px;
    position: absolute;
   left: 30px;
    top: 150px;
    padding: 5px;
}

#info2-name {
    font: large;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    left: 200px;
    top: 150px;
}

#info2-label-1 {
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    color: white;
    background-color: rgb(190, 66, 66);
    left: 200px;
    top: 180px;
}

.info3 img{
    width: 100px;
    height: 100px;
    position: absolute;
   left: 30px;
    top: 300px;
    padding: 5px;
}

#info3-name {
    font: large;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    left: 200px;
    top: 300px;
}

#info3-label-1 {
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    color: white;
    background-color: rgb(190, 66, 66);
    left: 200px;
    top: 330px;
}

#topic-box-name2 {
    font-size: 30px;
    font-weight: bold;
    color: rgb(151, 9, 9);
    background-color: rgb(197, 245, 126);
    position: absolute;
    top: -300px;
}

.info4 img{
    width: 100px;
    height: 100px;
    position: absolute;
   left: 30px;
    top: -200px;
    padding: 5px;
}

#info4-name {
    font: large;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    left: 200px;
    top: -180px;
}

#info4-label-2 {
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    color: white;
    background-color: rgb(190, 66, 66);
    left: 200px;
    top: -150px;
}

.info5 img{
    width: 100px;
    height: 100px;
    position: absolute;
   left: 30px;
    top: -50px;
    padding: 5px;
}

#info5-name {
    font: large;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    left: 200px;
    top: -20px;
}

#info5-label-2 {
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    color: white;
    background-color: rgb(190, 66, 66);
    left: 200px;
    top: 10px;
}

.info6 img{
    width: 100px;
    height: 100px;
    position: absolute;
   left: 30px;
    top: 110px;
    padding: 5px;
}

#info6-name {
    font: large;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    left: 200px;
    top: 140px;
}

#info6-label-2 {
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    color: white;
    background-color: rgb(190, 66, 66);
    left: 200px;
    top: 170px;
}


.footer {
    font-style: oblique;
    font-weight: bold;
    position: absolute;
    height: 150px;
    background-color: rgb(94, 92, 221);
    color: white;
    top: 1100px;
    width: 100%;
    z-index: 1;
}

#footer_misc {
    font-size: 8px;
    font-weight: normal;
    position: absolute;
    right: 550px;
    top: 350px;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

#footer_misc {
    font-size: 8px;
    font-weight: normal;
    position: absolute;
    right: 550px;
    top: 350px;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

#footer_social {
    font-size: 8px;
    font-weight: normal;
    position: absolute;
    right: 550px;
    top: 350px;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

#footer_extra {
    font-size: 12px;
    font-weight: normal;
    position: absolute;
    right: 550px;
    top: 350px;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

